<div th:fragment="header">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none pl-4">
            <img src="https://st2.depositphotos.com/1042575/5689/v/450/depositphotos_56899625-stock-illustration-coat-of-arms-of-ukraine.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="40" height="32" loading="lazy">
            <span class="fs-4">COVID-19 SysUA</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Головна сторінка</a></li>
            <li class="nav-item"><a href="/statistics" class="nav-link">Загальні дані</a></li>
            <li class="nav-item"><a href="/regions" class="nav-link">Області</a></li>
            <li class="nav-item"><a href="/info" class="nav-link">Інформація</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">Контакти</a></li>
        </ul>
    </header>
</div>

<div th:fragment="footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Covid-19 SysUA, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
</div>